<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Shereen Hasan</h1>
    <h2>1001437130</h2>
    <h2>1.00 pm batch</h2>
    <meta charset="UTF-8">
    <img src={{ url_for('static',filename ='c.jpg')}} width=200 height=200>
    <title>Title</title>
</head>
<body>
<!--<form action ='fileupload' method ="get">
        <input type="file" name ="file"/>
            <input type="file" name ="file"/>
</form>-->
<br>
<h1>enter info:</h1> <br>
<form action ='result' method ="post">
    enter Instructor name<input type="text" name ="text1"/> <br>
    <br>

    s<input type="text" name ="text2"/> <br>
    choice<input type="text" name ="text3"/> <br>

<h1>enter count:</h1> <br>
    count........<input type="text" name ="count"/> <br>
        <input type="submit" value="submit"/>
</form>

</body>
</html>